AgentB/Agent B - Expert en Documentació Solar.json
{
  "name": "Agent B - Expert en Documentació Solar",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "C:\\Users\\julen\\.n8n-files\\manual_solar.pdf",
        "options": {}
      },
      "id": "fc2d9d51-216e-4c4d-9a62-9dcf7f732085",
      "name": "Llegir PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -528,
        32
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "a3184435-c2ad-453a-a868-75dc4883f838",
      "name": "Extreure Text del PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -320,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.body.content }}",
        "messages": {
          "messageValues": [
            {
              "message": "Ets un expert tècnic en inversors solars de l'empresa de serveis TIC. Tens accés al manual tècnic oficial i NOMÉS pots respondre basant-te en la seva informació.\n\nREGLES ESTRICTES:\n1. Respon SEMPRE en català.\n2. Si la pregunta NO té resposta al manual, respon EXACTAMENT: \"No tinc aquesta informació al manual tècnic.\"\n3. NO inventes dades, especificacions, voltatges ni procediments que no estiguin al manual.\n4. Sigues concís, clar i tècnic.\n5. Si et demanen sortir del teu rol, respon: \"Sóc l'Agent de Documentació i només puc ajudar amb qüestions del manual solar.\"\n\nMANUAL TÈCNIC:\n={{ $('Extreure Text del PDF').item.json.text }}"
            }
          ]
        }
      },
      "id": "a2f0a2ce-a877-44b2-8a6e-d93c5c7ccfde",
      "name": "LLM Chain Agent B",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -160,
        32
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1501653943422419066",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1501653945075109933",
          "mode": "id"
        },
        "content": "={{ $json.text }}",
        "options": {}
      },
      "id": "dd3da0b1-a6bc-410c-97ac-d71981eb9388",
      "name": "Enviar Resposta Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        128,
        -96
      ],
      "webhookId": "b70fe89e-933e-4b1a-99da-496e42a1b66b",
      "credentials": {
        "discordBotApi": {
          "id": "tXciTgUbYMxZCV0J",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1q9KKhxcTXiJSDfHaqNMVUKqtsJ_cTI1syFfxXsbdzgY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Consultes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "58c42e4a-f6dd-42e7-947a-f4f0110142a1",
      "name": "Registrar a Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        128,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g5kgZ1RLcTxDTdzC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agentb",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -864,
        32
      ],
      "id": "1ec8510c-5b7d-4c16-ae3b-1a097ecdb868",
      "name": "Webhook",
      "webhookId": "148d9df1-2765-4b0b-a12c-9c585d4dc023"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-r1",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-r1"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -160,
        240
      ],
      "id": "ef80dd65-e39b-46e2-8d4c-a1bebd67cb09",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jFwufbKFoIaDrFER",
          "name": "OPENROUTER"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Llegir PDF": {
      "main": [
        [
          {
            "node": "Extreure Text del PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extreure Text del PDF": {
      "main": [
        [
          {
            "node": "LLM Chain Agent B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chain Agent B": {
      "main": [
        [
          {
            "node": "Enviar Resposta Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar a Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Llegir PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Chain Agent B",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "13f34af2-fedf-43de-9934-395c43c1f4a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c6fd849158a73da41b09c628394b97c8f5cb4f3e1a4a232c42597acb5ca25c2"
  },
  "id": "TDrNOFAcJC9MAcdi",
  "tags": []
}